<div id="post-{{id}}" class="card">
    <a href="/post/{{id}}">
        <img class="card-image" href="/post/{{id}}" src="{{thumbnail}}" alt="Missing Image">
    </a>
    <div class="card-body">
        <p class="card-title">{{title}}</p>
        <p class="card-text">{{description}}</p>
        <a href="/post/{{id}}" class="anchor-buttons">More</a>
    </div>
</div>